In [3]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [10]:
x=np.ones(4)
x

array([1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [14]:
y=np.zeros(4)
y

array([0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [15]:
z=np.add(x,y)
z

array([1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [16]:
print("dimension",x.ndim)
print("shape",x.shape)
print("size",x.size)
print("type",x.dtype)

dimension 1
shape (4,)
size 4
type float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [17]:
w=np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [21]:
z=np.arange(1,4,1)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [36]:
newArray=np.column_stack((z,w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [29]:
for i in newArray.flatten():
    print(i)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [32]:
newArray_rev=np.transpose(newArray)
newArray_rev

array([[ 1,  2,  3],
       [11, 13, 15],
       [12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [38]:
newArray -=1
newArray

array([[-1,  9, 10],
       [ 0, 11, 12],
       [ 1, 13, 14]])

## Q#11: Find smallest and biggest values in "newArray".

In [43]:
smallest_val=np.min(newArray)
biggest_val=np.max(newArray)

print("Smallest value=",smallest_val,"\nBiggest value=",biggest_val)

Smallest value= -1
Biggest value= 14

## Q#12: Print the first row of "newArray" using indexing.

In [44]:
print(newArray[0])

[-1  9 10]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [47]:
print(newArray[1,2])

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [50]:
print(newArray[1,0])
print(newArray[2,1])

0
13

## Q#15: Change the shape of "newArray" to (9,1).

In [52]:
newArray=newArray.reshape(9,1)
newArray

array([[-1],
       [ 9],
       [10],
       [ 0],
       [11],
       [12],
       [ 1],
       [13],
       [14]])

## Q#16: Change the shape of "newArray" to (3,2).

In [55]:
### newArray(3,2) does not have the same size of newArray(9,1)
newArray=newArray.reshape(3,3)
newArray

array([[-1,  9, 10],
       [ 0, 11, 12],
       [ 1, 13, 14]])

# Well Done ðŸŽ‰