In [1]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [11]:
x= np.ones((5,5))
print(x)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

## Q#2: Create y array with elements equal to 0.

In [12]:
y=np.zeros((5,5))
print(y)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

## Q#3: Add x and y arrays.

In [13]:
np.add(x,y)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [14]:
print(x.shape)
print(x.size)
print(x.ndim)
print(x.dtype)
print(type(x))
print(x.itemsize)

(5, 5)
25
2
float64
<class 'numpy.ndarray'>
8

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [15]:
w = np.arange(11,17).reshape((3,2))
print(w)

[[11 12]
 [13 14]
 [15 16]]

## Q#6: Create z array contains the numbers from 1 to 3.

In [18]:
z = np.arange(1,4).reshape((3,1))
print (z)

[[1]
 [2]
 [3]]

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [20]:
newArray = np.hstack((w,z))
print(newArray)

[[11 12  1]
 [13 14  2]
 [15 16  3]]

## Q#8: Print all elements of "newArray" using the loop.

In [25]:
for row in newArray:
    for i in row :
        print(i)

11
12
1
13
14
2
15
16
3

## Q#9: Reverse the columns and rows of "newArray".

In [27]:
newArray.transpose()
print(newArray)

[[11 12  1]
 [13 14  2]
 [15 16  3]]

## Q#10: Decrement all elements of "newArray" with 1.

In [28]:
newArray -=1
print(newArray)

[[10 11  0]
 [12 13  1]
 [14 15  2]]

## Q#11: Find smallest and biggest values in "newArray".

In [29]:
print(newArray.min())
print(newArray.max())

0
15

## Q#12: Print the first row of "newArray" using indexing.

In [30]:
print(newArray[0][:])

[10 11  0]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [31]:
print(newArray[1,0])

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [33]:
print(newArray[0,1], [2,1])

11 [2, 1]

## Q#15: Change the shape of "newArray" to (9,1).

In [36]:
newArray.reshape(9,1)
print(9,1)

9 1

## Q#16: Change the shape of "newArray" to (3,2).

In [ ]:
#ERROR

# Well Done ðŸŽ‰