In [2]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [4]:
# write your code here ^_^
x = np.ones((3,3))
print(x)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

## Q#2: Create y array with elements equal to 0.

In [5]:
# write your code here ^_^

y=np.zeros((3,3))
print(y)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

## Q#3: Add x and y arrays.

In [6]:
# write your code here ^_^
np.add(x,y)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [9]:
# write your code here ^_^
print(x.ndim)
print(x.shape)
print(x.size)
print(x.dtype)

2
(3, 3)
9
float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [11]:
# write your code here ^_^
w = np.arange(11,17).reshape((3,2))
print(w)

[[11 12]
 [13 14]
 [15 16]]

## Q#6: Create z array contains the numbers from 1 to 3.

In [12]:
# write your code here ^_^
z = np.arange(1,4).reshape((3,1))
z

array([[1],
       [2],
       [3]])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [13]:
# write your code here ^_^
newArray = np.hstack((w,z))
print(newArray)

[[11 12  1]
 [13 14  2]
 [15 16  3]]

## Q#8: Print all elements of "newArray" using the loop.

In [17]:
# write your code here ^_^
for i in newArray:
    for j in i:
        print(j)

11
12
1
13
14
2
15
16
3

## Q#9: Reverse the columns and rows of "newArray".

In [15]:
# write your code here ^_^
newArray.transpose()

array([[11, 13, 15],
       [12, 14, 16],
       [ 1,  2,  3]])

## Q#10: Decrement all elements of "newArray" with 1.

In [20]:
# write your code here ^_^
newArray -= 1
newArray

array([[10, 11,  0],
       [12, 13,  1],
       [14, 15,  2]])

## Q#11: Find smallest and biggest values in "newArray".

In [21]:
# write your code here ^_^
print(newArray.min())
print(newArray.max())

0
15

## Q#12: Print the first row of "newArray" using indexing.

In [22]:
# write your code here ^_^
newArray[0]

array([10, 11,  0])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [23]:
# write your code here ^_^
newArray[0,1]

11

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [24]:
# write your code here ^_^
newArray[2,0],newArray[1,1]

(14, 13)

## Q#15: Change the shape of "newArray" to (9,1).

In [25]:
# write your code here ^_^
newArray.reshape(9,1)

array([[10],
       [11],
       [ 0],
       [12],
       [13],
       [ 1],
       [14],
       [15],
       [ 2]])

## Q#16: Change the shape of "newArray" to (3,2).

In [ ]:
# write your code here ^_^
#cannot reshape array of size 9 into shape (3,2)

# Well Done ðŸŽ‰